<main class="main">
  <div class="content">
    <div class="countdown-container">
      <h1 class="countdown-title" appScalableFont="lg" letterSpacing="sm">
        Time to {{ countdownTitle }}
      </h1>
      <div class="countdown-display" appScalableFont="xl" letterSpacing="sm">
        <div class="time-block">
          <span class="number">{{ days }}</span>
          <span class="label">days,</span>
        </div>
        <div class="time-block">
          <span class="number">{{ hours }}</span>
          <span class="label">h,</span>
        </div>
        <div class="time-block">
          <span class="number">{{ minutes }}</span>
          <span class="label">m,</span>
        </div>
        <div class="time-block">
          <span class="number">{{ seconds }}</span>
          <span class="label">s</span>
        </div>
      </div>
    </div>
    <br />

    <p *ngIf="days === 0 && hours === 0 && minutes === 0 && seconds === 0">
      Congratulations! Your Event is here. 🎉
    </p>

    <form
      #countdownForm="ngForm"
      (ngSubmit)="onFormSubmit(); countdownForm.reset()"
      class="form-container"
    >
      <div class="form-group">
        <label for="title-input">Title</label>
        <input
          type="text"
          id="title-input"
          name="title"
          [(ngModel)]="title"
          #titleInput="ngModel"
          required
          minlength="3"
          maxlength="20"
          pattern="^[a-zA-Z0-9\s\-']*$"
          aria-label="Input a title"
          aria-required="true"
          [class.is-invalid]="titleInput.invalid && titleInput.touched"
        />
        <div
          *ngIf="titleInput.invalid && titleInput.touched && titleInput.errors"
          class="form-error-message"
        >
          <div *ngIf="titleInput.errors?.['required']">
            {{ errorMessages.TITLE.REQUIRED }}
          </div>
          <div *ngIf="titleInput.errors?.['minlength']">
            {{ errorMessages.TITLE.MIN_LENGTH }}
          </div>
          <div *ngIf="titleInput.errors?.['maxlength']">
            {{ errorMessages.TITLE.MAX_LENGTH }}
          </div>
          <div *ngIf="titleInput.errors?.['pattern']">
            {{ errorMessages.TITLE.PATTERN }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="date-input">Date</label>
        <input
          type="date"
          id="date-input"
          name="selectedDate"
          [(ngModel)]="selectedDate"
          #dateInput="ngModel"
          [min]="minDate"
          max="2050-05-01"
          required
          (input)="onDateInput(dateInput)"
          aria-label="Select a date"
          aria-required="true"
          [class.is-invalid]="dateInput.invalid && dateInput.touched"
        />
        <div
          *ngIf="dateInput.invalid && dateInput.touched && dateInput.errors"
          class="form-error-message"
        >
          <div *ngIf="dateInput.errors?.['required']">
            {{ errorMessages.DATE.REQUIRED }}
          </div>
          <div
            *ngIf="
              dateInput.errors?.['min'] ||
              (selectedDate && !isDateValid(selectedDate))
            "
          >
            {{ errorMessages.DATE.MIN }}
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="form-button"
        [disabled]="!countdownForm.valid"
      >
        Submit
      </button>
    </form>
  </div>
</main>

<router-outlet />
